@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

@theme {
  --font-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --color-relax: #89D9AB;
  --color-focus: #F99450;
  --color-sleep: #C9A6E0;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/helvetica-neue/HelveticaNeueBold.ttf") format("truetype");
  font-weight: 100 900;
}